<h1>Edit article "<%=@article.title%>"</h1>
<form action='/articles/<%=@article.id%>' method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label for="article_title">Title:</label>
    <input id="article_title" type="text" name="title" value="<%= @article.title %>"><br>
    <label for="article_content">Title:</label>
    <input id="article_content" type="text" name="content" value="<%= @article.content %>"><br>
    <input type="submit" value="Submit">
</form>