<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Article Index</title>
    </head>

    <body>

        <form method="POST" action=<%="/articles/" + @article.id.to_s %>>
            <h1><%= @article.title %></h1>

            <%= @article.content %>

            <p>New title: <input type="text" name="title"></p>
            <p>New content: <input type="text" name="content"></p>
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <input type="submit" id="Submit">
        </form>
    </body>

</html>