<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sinatra ActiveRecord CRUN practic</title>
</head>
<body>
    <nav>
        <a href="/articles">All Articles</a>
        <a href="/articles/new">Create New Article</a>
       
    </nav>
    <%=yield %>
</body>
</html>