<h1>Create Article</h1>
<form action="/articles" method="post">
  Article Name: <input type="text" id="title" name="title"><br>
  Article Content: <input type="text" id="content" name="content"><br>
  <input type="submit" />
</form>
