
<form class="" action="/articles" method="post">
<label for="">Title</label>
<input id="title" type="text" name="title" value="<% @article.title%>">
<br>
<label for="content">Content</label>
<br>
<textarea id="content" name="content" type="text" rows="5" cols="50" ></textarea>
<br>
<input type="submit"/>
</form>
