<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    </head>

    <body>
        <h1><%= @article.title %></h1>

        <%= @article.content %>

        <form method="POST" action=<%= "/articles/#{@article.id}"%>>
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input id="delete button" type="submit" value="Delete article">
        </form>
    
    </body>

</html>