<h3> <%= @article.title %></h3>
<p> <%= @article.content %></p>
<br>
<br>
<form action="/articles/<%=@article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" name="Delete" id="delete" value="Delete">
</form>
